<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    {{appTitle}}
  </h1>
</div>
<h5>Please select or create a new sheet.</h5>

<section class="sectionnav">
  <app-navigation [notes]="notes" (noteclicked)="clickNote($event)" (removenote)="onModalSelect($event)" (addnote)="addNote()"></app-navigation>
</section>

<section class="sectioneditor">
  <app-editor *ngIf="selectedNote" [noteContent]="selectedNote" (savenote)="saveNote()"></app-editor>
</section>

<router-outlet></router-outlet>

<app-dialog *ngIf="selectedNote"  [(visible)]="showDialog">
  <h5>Really delete sheet <b>"{{ selectedNote.title }}"</b>?</h5>
  <button (click)="removeNote(selectedNote)" class="btn btn-success">Yes</button> &nbsp;
  <button (click)="showDialog = false" class="btn btn-danger">No</button>
</app-dialog>

