<nav class="navbar navbar-expand-lg navbar-light" id="nav">
    <form class="form-inline">
      <span *ngIf="notes.length > 0">
        <app-navbutton *ngFor="let note of notes" [notetitle]="note.title" (clickNote)="onClickNote(note)" (removeNote)="onRemoveNote(note)"></app-navbutton>
      </span>
      <span class='navbuttongroup'>
	      <button type="button" class="btn btn-success btn-sm navbuttonp" (click)="onAddNote()">
	        <span class="fa fa-plus"></span>
	      </button>
	  </span>	
    </form>
</nav>
